@import "../styles/style.css";
@import "../styles/icons.css";
@import "../styles/portal-news.css";
@import "../styles/transitions.css";
@import "../styles/effects.css";
@import "../styles/pages.css";
@import "../styles/login.css";
@import "../styles/admin-novo.css";


/* Base Tailwind styles if needed */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}